:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white-color: #ffffff;
    --font-family: 'Manrope', sans-serif;
}

body {
    background-color: var(--light-grayish-blue);
    font-family: var(--font-family);
}

.main-container {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    width: 730px;
    height: 280px;
    overflow: hidden;
    background-color: var(--white-color);
    /* background-image: url(images/drawers.jpg); */
    /* background-size: contain;
            background-repeat: no-repeat; */
    -webkit-box-shadow: -1px 1.3rem 3rem -15px hsl(214deg 22% 70%);
    box-shadow: -1px 1.3rem 3rem -15px hsl(214deg 22% 70%);
}

.img-container {
    width: 100%;
    height: 100%;
    background-image: url(/images/drawers.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.preview-body {
    height: 100%;
    width: 61%;
    background-color: var(--white-color);
    position: inherit;
    right: inherit;
}

.content {
    padding: 12px 48px 8px 48px;
}

.content h3 {
    color: var(--very-dark-grayish-blue);
    letter-spacing: 0.5px;
    font-weight: 700;
    margin-top: 26.72px;
    margin-bottom: 0px;
}

.content p {
    font-size: 13px;
    line-height: 20px;
    color: var(--desaturated-dark-blue);
}

.user {
    width: 349.297px;
    height: auto;
    padding: 0px 48px;
    display: flex;
}

.user-info {
    width: 100%;
    display: flex;
    align-items: center;
}

.user-info-rigth {
    width: 100%;
    display: flex;
}

.user-name h3 {
    font-size: 13px;
    margin: 0;
    margin-bottom: 3px;
    color: var(--very-dark-grayish-blue);
    font-weight: 600;
}

.user-name p {
    font-size: 13px;
    margin: 0;
    color: var(--grayish-blue);
}

.user-avatar>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.share-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--light-grayish-blue);
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: .3s;
}

.share-btn:hover {
    background: var(--desaturated-dark-blue);
}

.share-btn:hover svg path {
    fill: var(--white-color);
}

.social-icons-bar {
    width: 248px;
    height: 55px;
    background: var(--very-dark-grayish-blue);
    display: flex;
    visibility: hidden;
    left: auto;
    margin: auto;
    position: fixed;
    border-radius: 9px;
    transform: translate(553px, 131px);
    z-index: 99;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    opacity: 0;
    -webkit-box-shadow: -1px 1.3rem 3rem -15px hsl(214deg 22% 70%);
    box-shadow: -1px 1.3rem 3rem -15px hsl(214deg 22% 70%);
    /* transform: translateY(-100%); */
    /* -webkit-transform: translateX(-100%); */
}

.social-icons-bar.appear {
    opacity: 1;
    visibility: visible;
    /* transform: translateX(0); */
    /* -webkit-transform: translateX(0); */
}

.social-icons-bar::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    left: 103px;
    bottom: -12px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid var(--very-dark-grayish-blue);
}

.social-icons {
    display: flex;
    align-items: center;
    padding: 13px 26px;
}

.social-icons p {
    color: var(--grayish-blue);
    letter-spacing: 0.3em;
    font-size: 13px;
    padding-right: 22px;
}

.social-icons a {
    padding-top: 5px;
    padding-right: 18px;
}


/*====== Media Queries =======*/

@media only screen and (max-width: 768px) {
    .main-container {
        flex-wrap: wrap;
        /* width: 328px; */
        height: 511px;
        position: relative;
        width: auto;
        margin: 78px 16px;
    }
    .img-container {
        background-size: cover;
        height: 42%;
    }
    .preview-body {
        display: block;
        height: 296px;
        flex: 1;
        /* grid-gap: 3px;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-template-rows: 200px 93px; */
    }
    .content {
        padding-left: 30px;
        padding-right: 27px;
    }
    .content h3 {
        font-size: 16px;
    }
    .user {
        width: auto;
        margin-top: 80px;
        padding-left: 27px;
        padding-right: 27px;
    }
    .share-btn {
        position: relative;
        z-index: 100;
    }
    .social-icons-bar {
        position: absolute;
        top: 85%;
        width: 100%;
        height: 77px;
        border-radius: 0px;
        transform: translate(0px, 0px);
    }
}

@media only screen and (max-width: 608px) {
    .user {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 400px) {
    .main-container {
        width: 328px;
    }
    .user {
        margin-top: 18px;
    }
}